html.windows [data-for-os=mac] {
  display:none;
}

html.windows body {
  font-family:"Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html.windows a.download {
  background: #126EB7;
  color:#fff;
  border-radius:3px;
}

html.windows .heroine img {
  box-shadow:rgba(0,0,0,0.15) 0 5px 10px;
  max-width:1045px;
  width:100%;
  margin:0 auto;
}
